<h2>New Post Creator</h2>

<%= form_for @post do |f| %>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
    <br>
    <%= f.label :content %>
    <br>
    <%= f.text_field :content %>
    <br>
    <%= f.submit %>
<% end %>
