
<h2> <%= @post.title %> </h2>

<p> <%= @post.content %> </p>

<div> 
<%= @post.user.full_name %>
<%= @post.created_at.to_date %>
</div>

<div> 
<% if current_user == @post.user %>
    <%= link_to "Edit", edit_post_path %>
<% end %>
</div>