
<h2> <%= @post.title %> </h2>

<p> <%= @post.content %> </p>

<div> 
<%= @post.user.full_name %>
<%= @post.created_at.to_date %>
</div>

<div> 
<% if current_user == @post.user %>
    <%= button_to("Edit", edit_post_path) %>
    <%= button_to("Delete", post_url(@post), method: :delete) %>
<% end %>
</div>
