<!DOCTYPE html>
<html>
  <head>
    <title>BallyBlogs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <div class = 'Navbar'>

      <%= link_to "Home Page", root_path %>
      <%= link_to " Posts " , posts_path %>
      <%= link_to "Register", new_user_registration_path %>

      <% if !user_signed_in? %>

        <%= link_to "Login", new_user_session_path %>  
      
      <% else %>

        <%= link_to "New Post", new_post_path %>   
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <%= link_to "Edit User", edit_user_registration_path %>

      <% end %>

      <%= link_to "Back", :back %>

    </div>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>


  </body>
</html>
